.logo-jk {
    margin-left: 30px;
    margin-top: -20px;
}

.label-usuario {
    margin-left: -15px;
    font-size: 15px;
    width: 5px;
}

.label-especial {
    margin-left: -15px;
}

.totalContent:hover {
    background:#ffEE00;
}

.botao3d {
    display: block;
    border-color: #999 #000 #000 #999;

    border: 1px solid;
    width: 319px;
    padding: 10px;

    background: #9F9;
    color: #000;

    font-family: Verdana;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

.botao3d:hover {
    position: relative;
    top: 1px;
    left: 1px;
    border-color: #000 #999 #999 #000;
    background: #3F6;
    
}
